body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Lemonada', cursive;
    li,
    ul {
        list-style: none;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
        padding: 0px;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
}